@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap%27');

:root {
    /* färger */
    --color-theme: #FF7373;
    --color-theme-light: #EDFCFA;
    --color-text-dark: #222529;
    --color-dark: #23262A;
    --color-white: #ffffff;
    --color-grey-0: #F7F8FA;
    --color-grey-1: #E6E6E6;
    --color-grey-2: #BBBBBB;
    --color-grey-3: #f5f5f5;
    --color-grey-4: #f8f8f8;
    --color-dark-grey: #616365 ;
/* fonter */
    --font-poppins: 'poppins', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.5rem;
    --font-size-20: 1.66rem;
    --font-size-24: 2rem;
    --font-size-35: 2.91rem;
    --font-size-45: 3.75rem;
    --font-size-65: 5.41rem;
/* border */
    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0;
}
/* header / nav */
header {
    top: 0;
    left: 0;
    display: flex;
    padding: 30px 100px;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
}

.colour {
    color: var(--color-theme);
}

._btn-theme {
    position: relative;
    text-align: center;
    background-color: var(--color-theme);
    color: var(--color-white);
    padding: 20px 50px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0;
}
    ._btn-theme:hover {
        background-color: var(--color-dark);
        color: #fff;
    }
._btn-theme ._btn-theme-right,
._btn-theme-left {
    position: absolute;
    height: 20px;
    width: 20px;

}
    ._btn-theme ._btn-theme-left {
    top: 10px;
    left: 10px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    }
    ._btn-theme ._btn-theme-right {
        bottom: 10px;
        right: 10px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        }
    .logo {
        text-decoration: none;
        font-size: var(--font-size-35);
        font-weight: var(--font-weight-bold);
        color: var(--color-text-dark);
    }
        .logo:hover {
            color: var(--color-theme);
            transition: 0.3s;
        }
    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header ul {
        margin: 0;
        display: flex;
        gap: 30px;
    }
    header li {
        list-style: none;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-medium);
    }
    header ul a {
        text-decoration: none;
        align-items: center;
        font-size: var(--font-size-16);
        color: var(--color-text-dark);
        font-weight: var(--font-weight-medium);
        position: relative;
    }
        header ul li a:hover {
            color: var(--color-theme);
            transition: 0.3s;
        }
        .bg-theme {
            background-color: var(--color-theme);
        }
    .icons i {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 41px;
        width: 41px;
        color: #222529;
        font-size: 1.1rem;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
    }

        .icons i:hover {
            color: var(--color-theme);
            transition: 0.3s;
        }

.top-menu {
    background: var(--color-white); 
}

/* intro */

.intro {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%); 
    width: 100%;
    height: 845px;
    margin-bottom: 135px;
}
.intro .bild-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 845px;
}
.intro .content {
    text-align: center;
    width: 33%;
    margin-right: 20px;
} 
    .intro img {
        
        width: 640px;
        height: 845px;
    }
    .intro h1 {
        font-size: 65px;
        font-weight: var(--font-weight-extrabold);
        margin: 0;
    }
    .intro h2 {
        font-size: 65px;
        font-weight: var(--font-weight-extrabold);
        margin-bottom: 20px;
    }
    .intro p {
        font-size: 20px;
        font-weight: var(--font-weight-regular);
        margin-bottom: 50px;
    }

    /* grid cards */

    .featured .container {
    max-width: 1110px;
    margin-bottom: 60px;
    }

    .featured .card {
        border: none;
    }

    .featured .card img,
    .featured .card .img {
        height: 210px;
        width: 255px;
        background-color: var(--color-grey-3);
        position: relative;
    }

.card .card-body {
    text-align: center;
    padding: 4px;
}
    .card .card-body .card-category {
        font-size: 13px;
        font-weight: 500;
        color: var(--color-dark-grey);
        margin-bottom: 4px;
    }
    .card .card-body .card-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .card .card-body .card-rating {
    text-align: center;
    color: var(--color-theme);
    margin-bottom: 4px;
    }
    .card .card-body .card-price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    }
.card {
    overflow: hidden;
}

.card ._btn-theme {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.card .card-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 15px;
    right: 10px;
}
    .card:hover .card-menu {
    display: flex;
    }
    .card:hover ._btn-theme {
    display: flex;
    }
.card .card-menu i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 36px;
    width: 36px;
    margin-bottom: 10px;
    color: #222529;
    font-size: 1.1rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
}
    .card .card-menu i:hover {
    background-color: var(--color-dark);
    color: #ffffff;
    }

    .card .card-menu a {
        text-decoration: none;
    }
    /* banner */

.banners img {
width: 633px;
}

.banners,
.flashsale {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 60px;
}

.flashsale-box {
    background-color: var(--color-grey-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .flashsale-box h1 {
        font-family: var(--font-poppins);
        font-size: var(--font-size-45);
        font-weight: 600;
        color: var(--color-white);
        margin-bottom: 30px;
    }
.flashsale .img-card {
    height: 210px;
    width: 100%;
    background-color: var(--color-grey-3);
    position: relative;
}
.flashsale .card {
    border: none;
    margin: 0;
}

/* contacts sida */
.breadcrumb {
    margin-bottom: 40px;
}
.breadcrumb .container {
    max-width: 1110px;
}
#hus {
 color: black;
}
    #hus:hover {
        color: var(--color-theme);
    }

.list-text {
    font-size: var(--font-size-16);
    font-weight: 500;
}

/* karta */
.karta {
    margin-bottom: 70px;
}
.iframe-karta {
    width: 100%;
    height: 380px;
}

/* form */
.contact-form {
    margin-bottom: 60px;
}
.contact-form .container {
    max-width: 1110px;
}
    .contact-form h2 {
        font-size: var(--font-size-18);
        font-weight: 700;
        margin-bottom: 30px;
    }

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
    .contact-form form input {
        width: 100%;
        padding: 18px 20px;
        border: 1px solid #cbcbcb;
    }
    .contact-form form textarea { 
        width: 100%;
        padding: 18px 20px;
        border: 1px solid #cbcbcb;
        height: 140px;
        resize: none;
    }
    .contact-form .textarea {
        grid-column: 1 / -1;
    }
    .contact-form form .error {
        border: 1px solid var(--color-theme);
        color: var(--color-theme);

    }
    .contact-form form .errorMessage {
        margin-top: 5px;
        color: var(--color-theme);
        font-size: 0.8em;
    }
    .btn-tema {
        position: relative;
        text-align: center;
        background-color: var(--color-theme);
        color: var(--color-white);
        padding: 20px 50px;
        border: none;
        transition: 0.3s;
        margin-bottom: 50px;
        font-weight: 600;
}
    .btn-tema:hover {
        background-color: var(--color-dark);
        color: #fff;
    }

    /* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey-4);
    padding: 20px;
}

footer .socials{
    margin-bottom: 10px;
}
    footer .socials a {
        text-decoration: none;
        color: var(--color-dark);
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    footer .socials a:hover {
        color: var(--color-theme);
    }
    footer p {
        margin: 0;
    }